In [17]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [38]:
url = "https://www.imdb.com/chart/top/"
headers = ({"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"})
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [60]:
movies = soup.find_all('div', class_="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN cli-title")

In [46]:
year = soup.find_all('div', class_="sc-b189961a-7 feoqjK cli-title-metadata")

In [61]:
rating = soup.find_all('span', class_="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating")

In [ ]:
Name = []
Release_year = []
Rating = []
Total_Rating = []
Duration = []
    
for i in range(0, len(movies)):
    name = movies[i].text.split('. ')[1]
    ratings = rating[i].text.strip().replace(')', '').split('\xa0(')
    if len(year[i].text) > 3:
        yr = year[i].text[:4]
        if 'h' in year[i].text[4:]:
            h = year[i].text[4:].split('h')[0]
            if 'm' in year[i].text[4:].split('h')[1]:
                m = year[i].text[4:].split('h')[1].split('m')[0]
            else:
                m = ''
        else:
            h =''
            m =''
    else:
        y = ''
        h = ''
        m = ''
        
    h_m = h + ' h' + m +' m'
    
    Name.append(name)
    Release_year.append(yr)
    Rating.append(ratings[0])
    Total_Rating.append(ratings[1])
    Duration.append(h_m)

In [69]:
df = pd.DataFrame()

In [70]:
df['Name'] = Name
df['Release_year'] = Release_year
df['Rating'] = Rating
df['Total_Rating'] = Total_Rating
df['Duration'] = Duration

In [71]:
df

                         Name Release_year Rating Total_Rating  Duration
0    The Shawshank Redemption         1994    9.3         2.9M  2 h 22 m
1               The Godfather         1972    9.2           2M  2 h 55 m
2             The Dark Knight         2008    9.0         2.9M  2 h 32 m
3       The Godfather Part II         1974    9.0         1.4M  3 h 22 m
4                12 Angry Men         1957    9.0         868K  1 h 36 m
..                        ...          ...    ...          ...       ...
245     It Happened One Night         1934    8.1         113K  1 h 45 m
246        Dances with Wolves         1990    8.0         292K   3 h 1 m
247                   Aladdin         1992    8.0         468K  1 h 30 m
248                  Drishyam         2015    8.2          95K  2 h 43 m
249            Kill Bill: Vol         2004    8.0         808K  2 h 17 m

[250 rows x 5 columns]

In [72]:
df.to_csv("IMDbTop250Movies.csv", index=False)